/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0d2330;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #4281a4;
}

a:hover {
  color: #3690C1;
}