/*
* #fcfcfc: Background
* #0d2330: Text
*
* #4281a4: Accent #1
* #3690C1: Accent #2
*/

.display-desktop {
  display: none;
}

@media (min-width: 550px) {
  .display-desktop {
    display: initial;
  }
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: #fcfcfc;
}

code {
  font-family: 'Inconsolata', monospace;
  overflow: auto;
}

a {
   text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-title, .site-title:visited {
  font-size: 26px;
  line-height: 54px;
  font-variant: small-caps;
  font-weight: bold;
  color: #0d2330;
}

.site-title:hover {
	color: #0d2330;
}

.site-header {
  border-bottom: 1px solid #0d2330;
}

.site-nav {
  line-height: 54px;
}

.site-nav ul {
  list-style: none;
  margin: 0px;
}

.site-nav ul li {
  display: inline;
  padding: 0 5px;
}

.site-nav ul li a {
  text-decoration: none;
}

.site-nav ul li a:hover {
  text-decoration: underline;
}

.content-heading, .section-heading, .footer-heading {
  line-height: 26px;
  font-variant: small-caps;
  font-weight: bold;
}

.footer-heading {
  font-size: 18px;
}

.content-heading {
  font-size: 24px;
}

.section-heading {
  font-size: 20px;
}

.section-heading a, .section-heading a:hover {
  color: #0d2330;
}

.site-footer {
  border-top: 1px solid #0d2330;
  padding: 30px 0;
}

.content {
  padding: 30px 0;
}

.contact {
  list-style: none;
}

.contact li {
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

.map {
  height: 380px;
}

.post {
  padding: 2em 0;
}

.external::after {
  content: '\2197';
  vertical-align: super;
  font-size: .6em;
}

.not-found {
  text-align: center;
}

.not-found h1 {
  margin: 30px 0;
  font-size: 4em;
  line-height: 1;
  letter-spacing: -1px;
}
