<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="icon" href="https://herobrine2nether.github.io/favicon.ico" type="image/x-icon" />
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="https://herobrine2nether.github.io/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="https://herobrine2nether.github.io/favicon-64x64.png" sizes="64x64" />
    <link rel="icon" type="image/png" href="https://herobrine2nether.github.io/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://herobrine2nether.github.io/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="https://herobrine2nether.github.io/css/normalize.min.css">
    <link rel="stylesheet" href="https://herobrine2nether.github.io/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://herobrine2nether.github.io/css/jquery.fancybox.css">
    <link rel="stylesheet" href="https://herobrine2nether.github.io/css/flexslider.css">
    <link rel="stylesheet" href="https://herobrine2nether.github.io/css/styles.css">
	<link rel="stylesheet" href="https://herobrine2nether.github.io/css/footer.css">
    <link rel="stylesheet" href="https://herobrine2nether.github.io/css/queries.css">
    <link rel="stylesheet" href="https://herobrine2nether.github.io/css/etline-font.css">
	<link rel="stylesheet" href="https://herobrine2nether.github.io/css/scrollbar.css">
	<link rel="stylesheet" href="https://herobrine2nether.github.io/css/syntax.css">
    <link rel="stylesheet" href="https://herobrine2nether.github.io/bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="//herobrine2nether.github.io/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
