<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script>
  function getKrist() {
    document.getElementById("money").className = "fa fa-refresh";
    oFormObject = document.forms['forms0'];
    var addr = oFormObject.elements["kaddr"].value;
    $.getJSON("https://krist.ceriat.net/addresses/" + addr, function(json) {
      oFormObject.elements["kbal"].value = json["address"].balance + " KST";
    });
    setTimeout(function(){ document.getElementById("money").className = "fa fa-money"; }, 1000);
  }
</script>

<section class="sign-up section-padding text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3>Krist Balance</h3>
        <p>Check It Here</p>
        <form class="signup-form" action="javascript: getKrist();" role="form" id="forms0">
          <div class="form-input-group">
            <i class="fa fa-envelope"></i><input type="text" name="kaddr" placeholder="kp5lzt1u32" required>
          </div>
          <div class="form-input-group">
            <i id="money" class="fa fa-money"></i><input type="text" name="kbal" placeholder="0 KST">
          </div>
          <button type="submit" class="btn-fill sign-up-btn">Check</button>
        </form>
      </div>
    </div>
  </div>
</section>
