<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script>
  function getKrist() {
    document.getElementById("money").className = "fa fa-refresh";
    balanceFormObject = document.forms['forms0'];
    var addr = balanceFormObject.elements["kaddr"].value;
    $.getJSON("https://krist.ceriat.net/addresses/" + addr, function(json) {
      balanceFormObject.elements["kbal"].value = json["address"].balance + " KST";
    });
    setTimeout(function(){ document.getElementById("money").className = "fa fa-money"; }, 1000);
  }
  
  function getRich() {
    table = document.getElementById("krichest");
    richestFormObject = document.forms['forms1'];
    var limit = richestFormObject.elements["klimit"].value;
    $.getJSON("https://krist.ceriat.net/addresses/rich/?limit=" + limit, function(json) {
      for (i = 0; i < limit; i++) {
        var newRow = table.insertRow(-1);
        
        var newAddr = newRow.insertCell(0);
        var newBal = newRow.insertCell(1);
        
        newAddr.innerHTML = json["addresses"][i].address;
        newBal.innerHTML = json["addresses"][i].balance + " KST";
      }
    });
  }
</script>

<section class="sign-up section-padding text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3>Balance</h3>
        <form class="signup-form" action="javascript: getKrist();" role="form" id="forms0">
          <div class="form-input-group">
            <i class="fa fa-envelope"></i><input type="text" name="kaddr" placeholder="kp5lzt1u32" required>
          </div>
          <div class="form-input-group">
            <i id="money" class="fa fa-money"></i><input type="text" name="kbal" placeholder="0 KST">
          </div>
          <button type="submit" class="btn-fill sign-up-btn">Check</button>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="sign-up section-padding text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3>Richest</h3>
        <form class="signup-form" action="javascript: getRich();" role="form" id="forms1">
          <div class="form-input-group">
            <i class="fa fa-cog"></i><input type="text" name="klimit" value="10" required>
          </div>
          <button type="submit" class="btn-fill sign-up-btn">Check</button>
        </form>
        <br/>
        <table id="krichest" class="table" border="0">
          <tr>
            <th>Address</th>
            <th>Balance</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
