<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script>
  function getKrist() {
    oFormObject = document.forms['forms0'];
    var addr = oFormObject.elements["kaddr"].value;
    $.getJSON("https://krist.ceriat.net/addresses/" + addr, function(json) {
      oFormObject.elements["kbal"].value = json["address"].balance + " KST";
    });
  }
</script>

<form action="javascript: getKrist();" id="forms0">
  <p>Krist Address: </p>
  <input type="text" name="kaddr">
  <p>Balance: </p>
  <input type="text" name="kbal">
  <input type="submit" value="Submit">
</form>
