@font-face {
    font-family: CP437;
    src: url(fonts/Px437/Px437_ATI_8x8.ttf);
}

code {
    font-family: CP437, monospace;
}

body {
    background-color:#008080;
    font-family: CP437, monospace;
    border-collapse: collapse;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000080;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #c0c0c0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #c0c0c0;
    color: #000080;;
}

p {
    margin: 0;
    padding: 0;
}

.active {
    background-color: #c0c0c0;
    color: #000080;
}

.content ul {
    list-style-type: none;
}

/**######################################*/

.container {
    background-color: #c0c0c0;
    margin: 0 auto;
    width: 100%;
}

.header {
    float: left;
    background: #008080;
    text-align: center;
    width: 100%;
}

.nav {
    float: left;
    width: 100%;
}

.content {
    float: left;
    border: double 5px;
    padding: 20px;
    margin: 5px;
    width: 65%
}

.sidebar {
    float: left;
    width: 30%;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.box {
    border: double 5px;
    width: 100%;
    padding: 5px 0px;
}

.box.default {
}

.sidebar a {
    text-decoration: none;
}

.footer {
    background: #000080;
    color: #c0c0c0;
    clear: both;
}

/**######################################*/

.social-twitter, .social-twitter a {
    color: #00d7ff;
    background: #005fff;
}

.social-youtube, .social-youtube a {
    color: #ff0000;
    background: #800000;
}

.social-twitch, .social-twitch a {
    color: #af5fff;
    background: #870087;
}

.social-github, .social-github a {
    color: #000000;
    background: #808080;
}

