/**********************************************
  Main Body Style
**********************************************/
html {
    font-family:    'Open Sans', sans-serif;
    background-color: #CBDBFC;
}

/**********************************************
  Header and Contact
**********************************************/
.heading {
    text-align:     center;
    color:          #37946E;
}

.heading.accent {
    color: #4B692F;
}

.detail {
    text-align:     center;
    color:          #37946E;
}

.sep::before {
    color: #4B692F;
    content: "|";
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    background-color: #AC3232;
    overflow: hidden;
}

.button {
    background-color: #AC3232;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #D95763;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

/**********************************************
  Section Headings
**********************************************/
.section {
    color: #306082;
}

.break {
    height: 1px;
    border: 0;
    border-top: 1px solid #3F3F74;
}

/**********************************************
  Job Descriptions
**********************************************/
.container {
    width: 100%;
}

.title {
    font-weight: bold;
}

.timeline {
    display: block;
    font-weight: bold;
    text-align: right;
}
