/**********************************************
  Main Body Style
**********************************************/
html {
    font-family:    'Open Sans', sans-serif;
    background-color: #CBDBFC;
}

div {
    width: 100%;
}

/**********************************************
  Header and Contact
**********************************************/
.heading {
    text-align:     center;
    color:          #37946E;
}

.heading.accent {
    color: #4B692F;
}

.detail {
    text-align:     center;
    color:          #37946E;
}

.sep::before {
    color: #4B692F;
    content: "|";
}

/**********************************************
  Section Headings
**********************************************/
.section {
    color: #306082;
}

.break {
    height: 1px;
    border: 0;
    border-top: 1px solid #3F3F74;
}

/**********************************************
  Job Descriptions
**********************************************/
.container {
    width: 100%;
}

.title {
    font-weight: bold;
}

.timeline {
    display: block;
    font-weight: bold;
    text-align: right;
}