html {
    background-color: #CBDBFC;
}

.heading {
    text-align:     center;
    color:          #37946E;
    font-family:    'Open Sans', sans-serif;
}

.heading.accent {
    color: #4B692F;
}

.detail {
    text-align:     center;
    color:          #00899b;
    font-family:    'Open Sans', sans-serif;
}
