footer .social-share a.twitter-share {
    height: 60px;
    width: 60px;
    background-color: #1AB4EF;
    border-radius: 3px;
	font-size: 22px;
	display: inline-block;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 20px; }
footer .social-share a.twitter-share:hover, footer .social-share a.twitter-share:focus {
	background-color: #1590BF; }
		
footer .social-share a.facebook-share {
	height: 60px;
	width: 60px;
	background-color: #3B5898;
	border-radius: 3px;
	font-size: 22px;
	display: inline-block;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 20px; }
footer .social-share a.facebook-share:hover, footer .social-share a.facebook-share:focus {
	background-color: #324C85; }
		
footer .social-share a.twitch-share {
	height: 60px;
	width: 60px;
	background-color: #6441A5;
	border-radius: 3px;
	font-size: 22px;
	display: inline-block;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 20px; }
footer .social-share a.twitch-share:hover, footer .social-share a.twitch-share:focus {
	background-color: #5A3A94; }
	
footer .social-share a.github-share {
	height: 60px;
	width: 60px;
	background-color: #333333;
	border-radius: 3px;
	font-size: 22px;
	display: inline-block;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 20px; }
footer .social-share a.github-share:hover, footer .social-share a.github-share:focus {
	background-color: #2D2D2D; }
	
footer .social-share a.youtube-share {
	height: 60px;
	width: 60px;
	background-color: #CD201F;
	border-radius: 3px;
	font-size: 22px;
	display: inline-block;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 20px; }
footer .social-share a.youtube-share:hover, footer .social-share a.youtube-share:focus {
	background-color: #B81C1B; }
	
footer .social-share a.steam-share {
	height: 60px;
	width: 60px;
	background-color: #093964;
	border-radius: 3px;
	font-size: 22px;
	display: inline-block;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 20px; }
footer .social-share a.steam-share:hover, footer .social-share a.steam-share:focus {
	background-color: #06234B; }