ul.plus {
    list-style: none;
}

ul.plus li:before {
    content: "+";
    margin-right: 4px;
}

ul.times {
    list-style: none;
}

ul.times li:before {
    content: "*";
    margin-right: 4px;
}

ul.minus {
    list-style: none;
}

ul.minus li:before {
    content: "-";
    margin-right: 4px;
}