---
layout: default
---
<div class="row">
	<div class="twelve columns">
		<h2 class="content-heading">Auctions</h2>
	</div>
	{{ content }}
</div>
{% for auction in site.auctions %}
	<div class="row post">
		<div class="twelve columns">
			<h3 class="section-heading">
				<a href="{{ auction.url | relative_url }}">{{ auction.title | escape }}</a>
			</h3>
			<p class="post-text">Items: {{ auction.summary }}</p>
			{% assign date_format = site.minima.date_format | default: "%b %d, %Y" %}
			<div class="post-info">
				<span>{{ auction.date | date: date_format }}</span>
				<a class="u-pull-right" href="{{ auction.url | relative_url }}">Read More &rarr;</a>
			</div>
		</div>
	</div>
{% endfor %}