---
layout: default
---
<h2>About</h2>
{{ content }}
<hr>
<h2>Recent Posts</h2>
<ul class="compact-post-list">
    {% for post in site.posts limit:5 %}
    <li>
        {% assign date_format = site.minima.date_format | default: "%b %d, %Y" %}
        <span class="compact-post-meta">{{ post.date | date: date_format }}</span>
        ·
        <a class="compact-post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        <p>{{ post.excerpt | strip_html | normalize_whitespace }}</p>
        
        <ul class="post-tags">
            {% for tag in post.tags %}
            <li>#{{ tag }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>